.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden;
  width: 350px;
	height: 500px;
  margin: auto;
  background-color: rgb(232, 229, 225);
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-message {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.chat-bot {
  align-self: flex-start;
  background-color: white;
  color: #573b8a;
}

.chat-user {
  align-self: flex-end;
  background-color: #573b8a;
  color: white;
}

.chat-form {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 10px;
}

#ask {
  width: 80px; 
  height: 40px;
}

.chat-form input {
  flex-grow: 1; 
  height: 40px; 
  padding: 0 10px; 
}
.chat-header{
  display: flex;
  justify-content: space-between;
}
.chat-header > button{
  width: 80px;
  margin-top: -10px;
  background-color: rgb(205, 93, 93);
  margin-left: 100px;
}
.chat-header > button:hover{
  background-color: white;
  color: rgb(205, 93, 93);
}